// font size
@as-font-size-1: 16px;
@as-font-size-2: 24px;
@as-font-size-3: 12px;
@as-font-size-4: 14px;

// text color
@as-text-color-1: #1d1d1f;
@as-text-color-2: #c8c8c8;
@as-text-color-3: #6c6c6c;
@as-text-color-4: #ffffff;

// font weight
@as-font-weight-1: 575;
@as-font-weight-2: 625;

// line height
@as-line-height-1: 20px;
@as-line-height-2: 28px;
@as-line-height-3: 16px;
@as-line-height-4: 18px;

// border color
@as-border-color-1: #e5e5e5;
@as-border-color-2: #000000;

// background color
@as-background-color-1: #cccccc;
@as-background-color-2: #1d1d1f;
@as-background-color-3: #ffffff;
@as-background-color-4: #f6f6f6;
